@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {

  /* font-family: 'iconfont'; */
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}

.icon-file::before {
  content: "\e621";
}

.icon-add::before {
  content: "\e622";
}

.icon-export::before {
  content: "\e623";
}

.icon-more::before {
  content: "\e624";
}

.icon-massPass::before {
  content: "\e625";
}

.icon-massfailure::before {
  content: "\e626";
}

.icon-move::before {
  content: "\e627";
}

.icon-search::before {
  content: "\e629";
}

.icon-leave::before {
  content: "\e62a";
}

.icon-reset::before {
  content: "\e62b";
}

.icon-ruku::before {
  content: "\e62c";
}

.icon-yichangshuju::before {
  content: "\e62d";
}

.icon-massPass1::before {
  content: "\e62f";
}

.icon-addStorage::before {
  content: "\e630";
}

.icon-massfailure1::before {
  content: "\e631";
}

.icon-saomashuliang::before {
  content: "\e632";
}

.icon-yituihuo::before {
  content: "\e633";
}

.icon-remind::before {
  content: "\e634";
}

.icon-palette::before {
  content: "\e635";
}

.icon-help::before {
  content: "\e62e";
}

.icon-yiwancheng::before {
  content: "\e636";
}

.icon-daiwancheng::before {
  content: "\e637";
}

.icon-logo1::before {
  content: "\e87b";
}

.icon-up::before {
  content: "\e7eb";
}

.icon-down::before {
  content: "\e7ec";
}

.icon-check-circle-fill::before {
  content: "\e844";
}

.icon-close1::before {
  content: "\e845";
}

.icon-info::before {
  content: "\e846";
}

.icon-question::before {
  content: "\e847";
}

.icon-warning::before {
  content: "\e848";
}

.icon-time::before {
  content: "\e849";
}

.icon-close::before {
  content: "\e66d";
}

.icon-d-caret::before {
  content: "\e64b";
}

.icon-eye-invisible::before {
  content: "\e85f";
}

.icon-eye::before {
  content: "\e860";
}

.icon-doubleleft::before {
  content: "\e86e";
}

.icon-a-doubleright::before {
  content: "\e86f";
}

.icon-fullscreen-exit::before {
  content: "\e870";
}

.icon-a-unorderedlist::before {
  content: "\e871";
}

.icon-outdent::before {
  content: "\e872";
}

.icon-indent::before {
  content: "\e873";
}

.icon-fullscreen::before {
  content: "\e874";
}

.icon-screen-up::before {
  content: "\e875";
}

.icon-screen-down::before {
  content: "\e876";
}

.icon-logo2::before {
  content: "\e877";
}

.icon-logo5::before {
  content: "\e878";
}

.icon-logo4::before {
  content: "\e87a";
}

.icon-logo3::before {
  content: "\ea23";
}

.icon-store1::before {
  content: "\ea2b";
}

.icon-money1::before {
  content: "\ea2c";
}

.icon-total1::before {
  content: "\ea2d";
}

.icon-trigger::before {
  content: "\e638";
}

.icon-check::before {
  content: "\e639";
}

.icon-add2::before {
  content: "\e603";
}

.icon-edit::before {
  content: "\e604";
}

.icon-kai::before {
  content: "\e605";
}

.icon-shixiao::before {
  content: "\e606";
}

.icon-guan::before {
  content: "\e607";
}

.icon-delete::before {
  content: "\e63a";
}

.icon-time1::before {
  content: "\e63b";
}

.icon-date::before {
  content: "\e63c";
}

.icon-magnify::before {
  content: "\e63d";
}

.icon-img::before {
  content: "\e63e";
}

.icon-scan::before {
  content: "\e608";
}

.icon-adjust::before {
  content: "\e609";
}

.icon-Print::before {
  content: "\e60a";
}

.icon-examine::before {
  content: "\e60b";
}

.icon-verify::before {
  content: "\e60c";
}

.icon-logistics::before {
  content: "\e60d";
}

.icon-establish::before {
  content: "\e60e";
}

.icon-a-PlaceOrder1::before {
  content: "\e613";
}

.icon-a-signfor::before {
  content: "\e614";
}

.icon-a-Partstobehired::before {
  content: "\e615";
}

.icon-a-signfor1::before {
  content: "\e616";
}

.icon-a-PlaceOrder::before {
  content: "\e617";
}

.icon-Sign::before {
  content: "\e618";
}

.icon-transport::before {
  content: "\e619";
}

.icon-a-Partstobehired1::before {
  content: "\e61a";
}

.icon-transport1::before {
  content: "\e61b";
}

.icon-Solicitation::before {
  content: "\e61c";
}

.icon-verify1::before {
  content: "\e61d";
}

.icon-download::before {
  content: "\e63f";
}

.icon-examine1::before {
  content: "\ea2a";
}

.icon-still::before {
  content: "\ea2e";
}

.icon-borrow::before {
  content: "\ea2f";
}

.icon-a-exclebeifen2::before {
  content: "\e61e";
}

.icon-exclebeifen::before {
  content: "\e61f";
}

.icon-xitong::before {
  content: "\e620";
}

.icon-file1::before {
  content: "\e640";
}

.icon-folderOpen::before {
  content: "\e641";
}

.icon-folderClose::before {
  content: "\e642";
}

.icon-ApplyForNuclearPrice::before {
  content: "\e643";
}

.icon-inspect::before {
  content: "\e644";
}

.icon-ApplyForNuclearPrice1::before {
  content: "\e645";
}

.icon-earringsdetial::before {
  content: "\e646";
}

.icon-pricing::before {
  content: "\e647";
}

.icon-leave1::before {
  content: "\e648";
}

.icon-recheckComplete::before {
  content: "\e649";
}

.icon-recheck::before {
  content: "\e64a";
}

.icon-toLead::before {
  content: "\e64c";
}

.icon-returnChecking::before {
  content: "\e64d";
}

.icon-rechecking::before {
  content: "\e64e";
}

.icon-pricingCheck::before {
  content: "\e64f";
}

.icon-verify2::before {
  content: "\e650";
}

.icon-return::before {
  content: "\e651";
}

.icon-neckdetial::before {
  content: "\e652";
}

.icon-generate::before {
  content: "\ea30";
}

.icon-transfer::before {
  content: "\ea31";
}

.icon-consume::before {
  content: "\ea32";
}

.icon-Executivepricing::before {
  content: "\ea33";
}

.icon-floating-coefficient::before {
  content: "\ea35";
}

.icon-percentage::before {
  content: "\ea36";
}

.icon-comparison-batch::before {
  content: "\ea37";
}

.icon-additional::before {
  content: "\ea38";
}

.icon-price-comparison::before {
  content: "\ea39";
}

.icon-price-coefficient::before {
  content: "\ea3a";
}

.icon-exchange-rate::before {
  content: "\ea3b";
}

.icon-tax-rate::before {
  content: "\ea3c";
}

.icon-purchase-comparison::before {
  content: "\ea3d";
}

.icon-operation::before {
  content: "\ea3e";
}

.icon-message-set::before {
  content: "\ea3f";
}

.icon-discount::before {
  content: "\ea40";
}

.icon-batchReview::before {
  content: "\e653";
}

.icon-receiveList::before {
  content: "\ea41";
}

.icon-Warehousing::before {
  content: "\ea42";
}

.icon-end::before {
  content: "\e628";
}

.icon-Looking::before {
  content: "\e654";
}

.icon-money::before {
  content: "\e655";
}

.icon-delete1::before {
  content: "\e656";
}

.icon-code::before {
  content: "\e657";
}

.icon-code1::before {
  content: "\e65b";
}

.icon-store::before {
  content: "\e658";
}

